{% extends 'common/Goods_parents.html' %}
{% load static %}
{% block title %}
<title>超市列表</title>
{% endblock %}
{% block content %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <div class="cate-search">
            <input type="text" class="cate-input" placeholder="请输入您要的搜索的产品关键词"/>
            <input type="button" class="cate-btn"/>
        </div>
    </header>
    <div style="height: 49px;"></div>
    <ul class="list-nav">
        <li class="current"><a href="">综合</a></li>
        <li><a href="">销量</a></li>
        <li><a href=""><i class="list-price">价格</i></li>
        <li><a href="">新品</a></li>
    </ul>
    <div class="content-list">
        <div class="list-left">
            {% for goods in goods %}
                <li class="current"><a href="">{{ goods.classname }}</a></li>
            {% endfor %}
        </div>
        <div class="list-right">
            <ul class="list-pro">
                {% for goods_skus in goods_skus %}
                    <li>
                        <a href="{% url 'goods:详情' goods_skus.pk %}"><img src="{{ MEDIA_URL }}{{ goods_skus.goodslogo }}" class="list-pic"/></a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit"><a href="{% url 'goods:详情' goods_skus.pk %}"> {{ goods_skus.goodsname }}{{ goods_skus.goodsspu_id.SPUname }}</a></div>
                            <div class="am-gallery-desc">￥{{ goods_skus.goodsprice }}</div>
                            <p>销量：{{ goods_skus.stock }}{{ goods_skus.unit.unitname }}</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input id="num" readonly="" class="text_box" name="" type="text" value="0">
                                <a class="increase">+</a>
                            </div>
                        </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!--底部-->
    <div style="height: 55px;"></div>
    <div class="fix-bot">
        <div class="fix-bot-cart"><i>8</i></div>
        <a href="tureorder.html" class="list-js">去结算</a>
        <a href="tureorder.html" class="list-jsk">一键快购</a>
        <!--<div class="js-text">
           <p><b>￥217.80</b></p>
           <p class="js-car">购物满50元免运费</p>
     </div>-->
    </div>

{% endblock %}